body {
  width: 100%;
}

div.row {
  margin-right: 0px;
}

div.container-fluid {
  padding-right: 0px;
}

a:hover,
a:focus {
  text-decoration: underline !important;
}

/* Nevbar Header */
nav ul {
  font-family: sans-serif;
  justify-content: flex-end;
  display: flex;
  padding-right: 10px;
  padding-top: 6px;
}

nav ul li {
  display: inline-block;
  color: inherit;
  font-size: 14px;
  list-style-type: none;
  text-align: left;
}

.menuHLeft li a {
  text-decoration: none;
  line-height: 24px;
  vertical-align: middle;
  color: inherit;
}

.menuHLeft li {
  padding: 10px;
}

li a img {
  border-radius: 50%;
}

/* div main container */
main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mainContent {
  text-align: center;
  width: 100%;
}

.apps {
  color: grey;
}

/* Logo */

picture {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.logo {
  width: 100%;
  height: 290px;
  margin-left: auto;
  margin-right: auto;
}

.logo p {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  font-size: 100px;
  font-weight: 550;
}

G {
  color: #4285f4;
}

O {
  color: #ea4335;
}

O2 {
  color: #fbbc05;
}

G2 {
  color: #4285f4;
}

L {
  color: #34a853;
}

E {
  color: #ea4335;
}
/* Search Bar */

.searchBar {
  margin-left: auto;
  margin-right: auto;
}

.searchBar {
  background-image: url("/assets/img/search.png");
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: 20px;
  display: flex;
  align-items: center;
  width: 584px;
  padding-left: 40px;
  height: 44px;
  border: 1px solid #f2f2f2;
  border-radius: 25px;
}
.searchBar input {
  width: 99%;
  font-size: 0.9em;
  border: none;
}
.searchBar input:focus {
  outline: none;
  box-shadow: grey;
}

.searchBar:hover,
.searchBar:active {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

/* Buttons */
.buttons {
  margin-top: 3%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.myBtn {
  width: 153px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 13px;
  margin: 11px 4px;
  margin-top: 11px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.luckB {
  width: 170px;
}
/* Footer */

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #f2f2f2;
  color: #70757a;
}

.footerPais {
  background-color: #f2f2f2;
  border-bottom: solid 1px #dadce0;
  padding: 15px 30px;
  height: 48px;
  padding-left: 55px;
}

.footerMenu {
  font-size: 14px;
  padding: 15px 30px;
  height: 46px;
}

.menuFLeft {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

/* .specialL {
  padding-top: 0px;
} */

.menuFMid {
  display: flex;
  justify-content: start;
}

.menuFDerecha {
  display: flex;
  justify-content: end;
}

.menuFLeft a {
  outline: none;
  text-decoration: none;
  color: #70757a;
  padding: 0 15px;
}

.menuFMid a {
  outline: none;
  text-decoration: none;
  color: #70757a;
}

.menuFDerecha a {
  outline: none;
  text-decoration: none;
  color: #70757a;
  padding: 0 15px;
}

@media only screen and (max-width: 856px) {
  /* For mobile phones: */
  .menuFDerecha {
    justify-content: space-evenly;
  }

  .menuFLeft {
    justify-content: space-evenly;
  }

  .footerMenu {
    height: 92px;
  }

  footer {
    position: absolute;
    bottom: 0;
  }
}

@media only screen and (max-width: 573px) {
  /* For mobile phones: */

  .menuFLeft {
    justify-content: space-evenly;
    padding: 15px;
    white-space: nowrap;
  }

  .specialL {
    margin-top: 15px;
  }

  .menuFDerecha {
    justify-content: space-evenly;
  }

  .footerMenu {
    height: 138px;
  }

  .searchBar {
    width: 460px;
  }
  footer {
    position: absolute;
    bottom: 0;
  }
}
@media (min-width: 767px) and (max-width: 855px) {
  .menuFLeft {
    flex-wrap: nowrap;
  }
}
